.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link, a {
  color: #61dafb;
  margin: 0 20px;
  text-decoration: underline;
  cursor: pointer;
 
}

.App-link:hover, a:hover{
  color: #fff;
}

.tabs{
  margin: 40px 0;
  padding: 15px 0;
  background-color: #fff;
  position: relative;
}

.tabs::after{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 20px;
  background-color: #000;
}

h1{
  color: #fff !important;
}

strong{
  color: #fff; 
}

p{
  color: #ccc;
}

.tabs a{
  display: inline-block;
  width: 200px;
}
.tabs a:hover{
  color: black;
}

.core{
  padding: 20px;
  border: 1px solid #fff;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
